body {
    background-color: gray;
}

h1 {
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.formPrin {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    align-self: center;
}

form div {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 40%;
}




